@model Incidencias.Models.CabeceraTickets

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CabeceraTickets</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaApertura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaApertura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCierre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCierre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiempoTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiempoTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facturable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facturable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clientes.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Productos.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
